<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <body>
    <h1>Welcome</h1>
    <center>
        <a href='https://slack.com/oauth/authorize?client_id=<%= process.env.SLACK_ID %>&redirect_uri=<%= process.env.SLACK_REDIRECT %>new&scope=bot'><img alt="Add to Slack" height="40" width="139" src="/images/add_to_slack.png"></a>
    </center>
  </body>
</html>








